AXIS_SERVER_BACKEND=pysoem
PYSOEM_INTERFACE=enp1s0
PYSOEM_AXIS_COUNT=1
PYSOEM_AXIS_SERVER_PORT=15000
PYSOEM_CYCLE_TIME=0.01
PYSOEM_CSP_COUNTS_PER_UNIT=1000.0
PYSOEM_DERIVED_VELOCITY_ALPHA=0.2
PYSOEM_MOTION_MODE=pp
PYSOEM_START_CONTROL_PANEL=1
COMPOSE_PROJECT_NAME=ros2_cia402_pysoem
